@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,800;1,200&display=swap');

html {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

nav,
header {
    display: flex;
}

header {
    align-items: center;
    background-color: #fff;
    padding: 16px;
    min-height: 80vh;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
}    

nav {
    justify-content: space-between;
    width: 1000px;
}

.links {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.links a,
.hero-secondary {
    color: black;
    font-weight: 300;
    font-size: 18px;
}

.logo {
    font-size: 24px;
    font-weight: 800;
}

.hero {
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: 5rem;
    justify-content: space-between;
    width: 1000px;
}

.left {
    width: 400px;
}

.img-container {
    width: 500px;
}

.hero-main {
    font-weight: 800;
    font-size: 36px
}

.hero-main,
.logo {
    color: black; 
}

.join {
    background-color: #f52222;
    border: none;
    border-radius: 12px;
    padding: 12px 18px;
    font-weight: 800;
    margin-top: 14px;
    cursor: pointer;
    color: #fff;
}

.captains-container {
    background-color: #f52222;
    margin-top: 24px;
    min-height: 80vh;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.captains-container .title {
    font-size: 36px;
    font-weight: 800;
}

.captains {
    display: flex;
    gap: 24px;
    margin-top: 18px;
    flex-wrap: wrap;
}

.captain {
    display: flex;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.captain p {
    margin-top: 10px;
}

.profile-picture {
    width: 200px;
    height: 180px;
    border-radius: 12px;
    overflow: hidden;
}

.quote-container {
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.quote {
    width: 600px;
}

.quote-text {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
}

.author {
    text-align: right;
    margin-top: 8px;
}

.reminder-container {
    display: flex;
    justify-content: center;
    min-height: 60vh;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #f9faf8;
}

.reminder {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 24px;
    padding: 36px;
    width: 1000px;
    background-color: #f52222;
}

.reminder-text-container {
    color: #fff;
}

.reminder .join {
   color: #fff;
   border: 2px solid #fff;
}

footer {
    background-color: #f52222;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 24px;

}

a {
    text-decoration: none;
    color: #fff;
}

img {
    max-width: 100%;
}